*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf6ed;
}

.tarjeta-interactiva {
    display: flex;
    width: 40%;
    min-width: 450px;
    height: 400px;
    margin:auto;
    margin-bottom: 10%;
    margin-top: 10%;
}
.tarjeta {
    border: solid 2px black;
    width: 50%;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    background-color: hsl(82, 49%, 43%);
    border-radius: 4%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.fotonote {
    width: 210px;
    height: 185px;
}
.titulo {
    color: white;
    font-size: 0.8em;
    font-weight: 800;
}
.precio {
    font-size: 1.2em;
    color:white;
    margin-right: 100px;
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
.resultado-consulta {
    margin: auto;
    margin-left: 50px;
    width: 50%;
    font-size: 1.4em;
}
#input-1, #input-2{
    border: none;
    border-bottom: 2px solid #cfcfcf;
    border-radius: 10%;
    height: 30px;
    padding: 8px;
    min-width:max-content;
    margin: 5px;
}
button {
    color: white;
    border-radius: 10%;
    font-size: 1.1em;
    width: 130px;
    height: 1.8em;
    background-color: #E2A30B;
    cursor: pointer;
}
button {
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(148, 52, 227, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4ef79d;
    color: black;
}
#colorBuy {
    background-color: black;
    border-radius: 100%;
}